CovidCaseRount1T02Client/xml-resources/web-service-references/CovidCaseRound1To2/wsdl/localhost_8080/CovidCaseRound1To2/CovidCaseRound1To2.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.4.3 (RELEASE-2.4.3-ad3323c; 2019-01-21T17:46:06+0000) JAXWS-RI/2.3.2 JAXWS-API/2.3.2 JAXB-RI/2.3.2 JAXB-API/2.3.2 git-revision#unknown. --><!-- Generated by JAX-WS RI (https://github.com/eclipse-ee4j/metro-jax-ws). RI's version is Metro/2.4.3 (RELEASE-2.4.3-ad3323c; 2019-01-21T17:46:06+0000) JAXWS-RI/2.3.2 JAXWS-API/2.3.2 JAXB-RI/2.3.2 JAXB-API/2.3.2 git-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://services/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://services/" name="CovidCaseRound1To2">
<types>
<xsd:schema>
<xsd:import namespace="http://services/" schemaLocation="http://localhost:8080/CovidCaseRound1To2/CovidCaseRound1To2?xsd=1"/>
</xsd:schema>
</types>
<message name="findCovidCaseRound1To2ById">
<part name="parameters" element="tns:findCovidCaseRound1To2ById"/>
</message>
<message name="findCovidCaseRound1To2ByIdResponse">
<part name="parameters" element="tns:findCovidCaseRound1To2ByIdResponse"/>
</message>
<message name="updateCovidCaseRound1To2ById">
<part name="parameters" element="tns:updateCovidCaseRound1To2ById"/>
</message>
<message name="updateCovidCaseRound1To2ByIdResponse">
<part name="parameters" element="tns:updateCovidCaseRound1To2ByIdResponse"/>
</message>
<message name="removeCovidCaseRound1To2ById">
<part name="parameters" element="tns:removeCovidCaseRound1To2ById"/>
</message>
<message name="removeCovidCaseRound1To2ByIdResponse">
<part name="parameters" element="tns:removeCovidCaseRound1To2ByIdResponse"/>
</message>
<portType name="CovidCaseRound1To2">
<operation name="findCovidCaseRound1To2ById">
<input wsam:Action="http://services/CovidCaseRound1To2/findCovidCaseRound1To2ByIdRequest" message="tns:findCovidCaseRound1To2ById"/>
<output wsam:Action="http://services/CovidCaseRound1To2/findCovidCaseRound1To2ByIdResponse" message="tns:findCovidCaseRound1To2ByIdResponse"/>
</operation>
<operation name="updateCovidCaseRound1To2ById">
<input wsam:Action="http://services/CovidCaseRound1To2/updateCovidCaseRound1To2ByIdRequest" message="tns:updateCovidCaseRound1To2ById"/>
<output wsam:Action="http://services/CovidCaseRound1To2/updateCovidCaseRound1To2ByIdResponse" message="tns:updateCovidCaseRound1To2ByIdResponse"/>
</operation>
<operation name="removeCovidCaseRound1To2ById">
<input wsam:Action="http://services/CovidCaseRound1To2/removeCovidCaseRound1To2ByIdRequest" message="tns:removeCovidCaseRound1To2ById"/>
<output wsam:Action="http://services/CovidCaseRound1To2/removeCovidCaseRound1To2ByIdResponse" message="tns:removeCovidCaseRound1To2ByIdResponse"/>
</operation>
</portType>
<binding name="CovidCaseRound1To2PortBinding" type="tns:CovidCaseRound1To2">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="findCovidCaseRound1To2ById">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="updateCovidCaseRound1To2ById">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="removeCovidCaseRound1To2ById">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="CovidCaseRound1To2">
<port name="CovidCaseRound1To2Port" binding="tns:CovidCaseRound1To2PortBinding">
<soap:address location="http://localhost:8080/CovidCaseRound1To2/CovidCaseRound1To2"/>
</port>
</service>
</definitions>