CovidCaseRount1T02Client/xml-resources/web-service-references/CovidCaseRound1To2/wsdl/localhost_8080/CovidCaseRound1To2/CovidCaseRound1To2.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.4.3 (RELEASE-2.4.3-ad3323c; 2019-01-21T17:46:06+0000) JAXWS-RI/2.3.2 JAXWS-API/2.3.2 JAXB-RI/2.3.2 JAXB-API/2.3.2 git-revision#unknown. --><xs:schema xmlns:tns="http://services/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://services/">

<xs:element name="covidround1To2All" type="tns:covidround1To2All"/>

<xs:element name="findCovidCaseRound1To2ById" type="tns:findCovidCaseRound1To2ById"/>

<xs:element name="findCovidCaseRound1To2ByIdResponse" type="tns:findCovidCaseRound1To2ByIdResponse"/>

<xs:element name="removeCovidCaseRound1To2ById" type="tns:removeCovidCaseRound1To2ById"/>

<xs:element name="removeCovidCaseRound1To2ByIdResponse" type="tns:removeCovidCaseRound1To2ByIdResponse"/>

<xs:element name="updateCovidCaseRound1To2ById" type="tns:updateCovidCaseRound1To2ById"/>

<xs:element name="updateCovidCaseRound1To2ByIdResponse" type="tns:updateCovidCaseRound1To2ByIdResponse"/>

<xs:complexType name="findCovidCaseRound1To2ById">
<xs:sequence>
<xs:element name="id" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="findCovidCaseRound1To2ByIdResponse">
<xs:sequence>
<xs:element name="return" type="tns:covidround1To2All" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="covidround1To2All">
<xs:sequence>
<xs:element name="caseForeign" type="xs:int" minOccurs="0"/>
<xs:element name="caseNewDiff" type="xs:int" minOccurs="0"/>
<xs:element name="caseNewPrev" type="xs:int" minOccurs="0"/>
<xs:element name="casePrison" type="xs:int" minOccurs="0"/>
<xs:element name="caseWalkin" type="xs:int" minOccurs="0"/>
<xs:element name="deathNewDiff" type="xs:int" minOccurs="0"/>
<xs:element name="deathNewPrev" type="xs:int" minOccurs="0"/>
<xs:element name="id" type="xs:int" minOccurs="0"/>
<xs:element name="newCase" type="xs:int" minOccurs="0"/>
<xs:element name="newCaseExcludeabroad" type="xs:int" minOccurs="0"/>
<xs:element name="newDeath" type="xs:int" minOccurs="0"/>
<xs:element name="newRecovered" type="xs:int" minOccurs="0"/>
<xs:element name="totalCase" type="xs:int" minOccurs="0"/>
<xs:element name="totalCaseExcludeabroad" type="xs:int" minOccurs="0"/>
<xs:element name="totalDeath" type="xs:int" minOccurs="0"/>
<xs:element name="totalRecovered" type="xs:int" minOccurs="0"/>
<xs:element name="updateDate" type="xs:string" minOccurs="0"/>
<xs:element name="weeknum" type="xs:int" minOccurs="0"/>
<xs:element name="years" type="xs:int" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="updateCovidCaseRound1To2ById">
<xs:sequence>
<xs:element name="id" type="xs:int"/>
<xs:element name="new_case" type="xs:int"/>
<xs:element name="new_death" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="updateCovidCaseRound1To2ByIdResponse">
<xs:sequence>
<xs:element name="return" type="tns:covidround1To2All" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="removeCovidCaseRound1To2ById">
<xs:sequence>
<xs:element name="id" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="removeCovidCaseRound1To2ByIdResponse">
<xs:sequence>
<xs:element name="return" type="tns:covidround1To2All" minOccurs="0"/>
</xs:sequence>
</xs:complexType>
</xs:schema>