CovidCaseAllProjectClient/xml-resources/web-service-references/CovidCaseAll/wsdl/localhost_8080/CovidCaseAllProject/CovidCaseAll.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.4.3 (RELEASE-2.4.3-ad3323c; 2019-01-21T17:46:06+0000) JAXWS-RI/2.3.2 JAXWS-API/2.3.2 JAXB-RI/2.3.2 JAXB-API/2.3.2 git-revision#unknown. --><!-- Generated by JAX-WS RI (https://github.com/eclipse-ee4j/metro-jax-ws). RI's version is Metro/2.4.3 (RELEASE-2.4.3-ad3323c; 2019-01-21T17:46:06+0000) JAXWS-RI/2.3.2 JAXWS-API/2.3.2 JAXB-RI/2.3.2 JAXB-API/2.3.2 git-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://services/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://services/" name="CovidCaseAll">
<types>
<xsd:schema>
<xsd:import namespace="http://services/" schemaLocation="http://localhost:8080/CovidCaseAllProject/CovidCaseAll?xsd=1"/>
</xsd:schema>
</types>
<message name="findCovidCaseAllById">
<part name="parameters" element="tns:findCovidCaseAllById"/>
</message>
<message name="findCovidCaseAllByIdResponse">
<part name="parameters" element="tns:findCovidCaseAllByIdResponse"/>
</message>
<message name="findCovidCaseAll">
<part name="parameters" element="tns:findCovidCaseAll"/>
</message>
<message name="findCovidCaseAllResponse">
<part name="parameters" element="tns:findCovidCaseAllResponse"/>
</message>
<message name="findCovidCaseAllByWeeknum">
<part name="parameters" element="tns:findCovidCaseAllByWeeknum"/>
</message>
<message name="findCovidCaseAllByWeeknumResponse">
<part name="parameters" element="tns:findCovidCaseAllByWeeknumResponse"/>
</message>
<portType name="CovidCaseAll">
<operation name="findCovidCaseAllById">
<input wsam:Action="http://services/CovidCaseAll/findCovidCaseAllByIdRequest" message="tns:findCovidCaseAllById"/>
<output wsam:Action="http://services/CovidCaseAll/findCovidCaseAllByIdResponse" message="tns:findCovidCaseAllByIdResponse"/>
</operation>
<operation name="findCovidCaseAll">
<input wsam:Action="http://services/CovidCaseAll/findCovidCaseAllRequest" message="tns:findCovidCaseAll"/>
<output wsam:Action="http://services/CovidCaseAll/findCovidCaseAllResponse" message="tns:findCovidCaseAllResponse"/>
</operation>
<operation name="findCovidCaseAllByWeeknum">
<input wsam:Action="http://services/CovidCaseAll/findCovidCaseAllByWeeknumRequest" message="tns:findCovidCaseAllByWeeknum"/>
<output wsam:Action="http://services/CovidCaseAll/findCovidCaseAllByWeeknumResponse" message="tns:findCovidCaseAllByWeeknumResponse"/>
</operation>
</portType>
<binding name="CovidCaseAllPortBinding" type="tns:CovidCaseAll">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="findCovidCaseAllById">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="findCovidCaseAll">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="findCovidCaseAllByWeeknum">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="CovidCaseAll">
<port name="CovidCaseAllPort" binding="tns:CovidCaseAllPortBinding">
<soap:address location="http://localhost:8080/CovidCaseAllProject/CovidCaseAll"/>
</port>
</service>
</definitions>