Client/CovidCaseAllProjectClient/xml-resources/web-service-references/CovidCaseAll/wsdl/localhost_8080/CovidCaseAllProject/CovidCaseAll.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.4.3 (RELEASE-2.4.3-ad3323c; 2019-01-21T17:46:06+0000) JAXWS-RI/2.3.2 JAXWS-API/2.3.2 JAXB-RI/2.3.2 JAXB-API/2.3.2 git-revision#unknown. --><xs:schema xmlns:tns="http://services/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://services/">

<xs:element name="covidcaseallpro" type="tns:covidcaseallpro"/>

<xs:element name="findCovidCaseAll" type="tns:findCovidCaseAll"/>

<xs:element name="findCovidCaseAllById" type="tns:findCovidCaseAllById"/>

<xs:element name="findCovidCaseAllByIdResponse" type="tns:findCovidCaseAllByIdResponse"/>

<xs:element name="findCovidCaseAllByWeeknum" type="tns:findCovidCaseAllByWeeknum"/>

<xs:element name="findCovidCaseAllByWeeknumResponse" type="tns:findCovidCaseAllByWeeknumResponse"/>

<xs:element name="findCovidCaseAllResponse" type="tns:findCovidCaseAllResponse"/>

<xs:complexType name="findCovidCaseAllByWeeknum">
<xs:sequence>
<xs:element name="weeknum" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="findCovidCaseAllByWeeknumResponse">
<xs:sequence>
<xs:element name="return" type="tns:covidcaseallpro" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="covidcaseallpro">
<xs:sequence>
<xs:element name="id" type="xs:int" minOccurs="0"/>
<xs:element name="newCase" type="xs:int" minOccurs="0"/>
<xs:element name="newCaseExcludeabroad" type="xs:int" minOccurs="0"/>
<xs:element name="newDeath" type="xs:int" minOccurs="0"/>
<xs:element name="province" type="xs:string" minOccurs="0"/>
<xs:element name="totalCase" type="xs:int" minOccurs="0"/>
<xs:element name="totalCaseExcludeabroad" type="xs:int" minOccurs="0"/>
<xs:element name="totalDeath" type="xs:int" minOccurs="0"/>
<xs:element name="updateDate" type="xs:string" minOccurs="0"/>
<xs:element name="weeknum" type="xs:int" minOccurs="0"/>
<xs:element name="years" type="xs:int" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="findCovidCaseAll">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="findCovidCaseAllResponse">
<xs:sequence>
<xs:element name="return" type="tns:covidcaseallpro" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="findCovidCaseAllById">
<xs:sequence>
<xs:element name="id" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="findCovidCaseAllByIdResponse">
<xs:sequence>
<xs:element name="return" type="tns:covidcaseallpro" minOccurs="0"/>
</xs:sequence>
</xs:complexType>
</xs:schema>